# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
*venv*
smartclassroom/

# Ignore storage directory
storage/
chroma_data/
data/
sqlite_db/
**/local_storage/data/

# Ignore models directory
models/

# Ignore chunks directory
chunks/

#Ignore logs
**/monitoring/executionlogs/
logs/

*.exe
*.whl

.proxy-config